* {
    margin: 0;
    padding: 0;

    font-family: 'Dela Gothic One', cursive;

    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffd4b9;
}

input {
    outline: none;
}

body {
    background-image: url(https://i.pinimg.com/originals/7c/60/a8/7c60a8ae60ceac9b085994a61f460f8e.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


/*-------------------------header-------------------------*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #ffd4b9;

    background-color: #2d1100;

    padding: 25px 0px;
    border-bottom: 3px solid #fe6d13;

    width: 100%;
}

header h1 {
    font-size: 1.5em;
}


/*-------------------------main-------------------------*/
/* palheta de cores: https://www.color-hex.com/color-palette/7039 */
/*-------------------------churrascometro-------------------------*/
.barbecue_calculator {
    display: flex;
    flex-direction: column;

    margin: 15px 0px;
}

input[type="submit"] {
    background-color: #aa4100;

    border: none;
}

.results {
    padding-bottom: 15px;
}

#shopping_list {
    list-style: none;

    margin-left: 1.4em;
}


/*-------------------------meat division-------------------------*/

.division_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.meat_division div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#division_list {
    list-style: none;

    text-align: left;
}


/*-------------------------footer-------------------------*/

footer {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0px;

    background-color: #2d1100;

    border-top: 3px solid #fe6d13;

    height: 40px;
    width: 100%;
}

footer nav {
    width: 100%;
}

.social_media{
    display: flex;
    justify-content: space-around;

    list-style: none;
    
    font-size: 0.6em;
}

.social_media li {
    margin: 10px 30px;
}


/*-------------------------general-------------------------*/

.btn {
    padding: 5px 15px;

    border: 1px solid transparent;
    border-radius: 25px;
}
.btn:hover {
    background-color: rgba(170, 65, 0, 0.7);
}


h2 {
    font-weight: 400;
}


.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: rgba(255, 212, 185, 0.6);

    padding-top: 15px;
    margin: auto;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 25px;

    width: 80%;
}
.input_list input {
    text-align: center;

    margin: 5px 0px;
    border: 2px solid #fe6d13;
    border-radius: 10px;
}


/*-------------------------querries-------------------------*/

@media screen and (min-width: 425px) {
    
    .division_section {    
        margin: auto;
        
        width: 400px;
    }


}

